.load-image-input .remove-image-button {
  display: none;
}
.load-image-input:hover .remove-image-button {
  display: block;
}

.btn-group-horizontal > * {
  margin-right: 0.25rem;
}
.btn-group-horizontal > *:last-child {
  margin-right: 0rem;
}
