.dms-create-input-row > td:last-child button {
  margin-left: 0.25rem;
}

.btn-group-horizontal {
  display: block;
}
.btn-group-horizontal:only-child,
.btn-group-horizontal > .btn-group-horizontal {
  display: flex;
  align-items: center;
}
.btn-group-horizontal > * {
  margin-right: 0.25rem;
}
.btn-group-horizontal > *:last-child {
  margin-right: 0rem;
}

.action-container .btn-group-horizontal {
  display: block;
  margin-top: 0.25rem;
}
.action-container .btn-group-horizontal:first-child {
  margin-top: 0rem;
}
